.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
testing.R
LSB_DS_LUCAS_validation.Rmd
LSB_DS_HUNT_validation.Rmd
LSB_DS_RECORD_validation.Rmd
test_RW.R
LSB_DS_GLOBE_validation.Rmd
LSB_DS_HAPIEE_RU_validation.Rmd
LSB_DS_HAPIEE_CZ_validation.Rmd
LSB_DS_HAPIEE_LT_validation.Rmd
LSB_DS_GLOBE_Validation.Rmd
LSB_DS_LASA1_validation.Rmd
LSB_DS_LASA2_validation.Rmd
LSB_DS_HUNT.html
LSB_DS_RECORD.html
